<h1>Vote Now!</h1>

<h2><%= @question.body %></h2>
<ul>
  <%= for answer <- @question.answer do %>
    <li>
      <div>
        <%= answer.text %> (<span class="vote" id="vote-<%= answer.id %>"><%= answer.count %> | <%= calculate_percent(@question, answer.count) %>% </span>) - 
        <button id="vote-<%= answer.id %>" data-id="<%= answer.id %>" type="button">Vote</button>
      </div>
    </li>
  <% end %>
</ul>
