<h1>Show Question</h1>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @question.body %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @question.status %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.question_path(@conn, :edit, @question) %></span>
<span><%= link "Back", to: Routes.question_path(@conn, :index) %></span>
